body{
margin:0;
font-family:'Ubuntu', sans-serif;
background:#ffffff;
color:#111;
}

/* CONTENEDOR GENERAL */

.boletos-container {
max-width:1200px;
margin-left:auto;
margin-right:auto;
}

/* HEADER */

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 40px;
background:white;
box-shadow:0 4px 20px rgba(0,0,0,0.08);
position:sticky;
top:20px;
border-radius:14px;
z-index:1000;
}

/* LOGO */

.logo a{
font-size:22px;
font-weight:700;
text-decoration:none;
color:#00b894;
}

/* MENU DERECHA */

.menu-derecha{
display:flex;
align-items:center;
gap:30px;
}

/* NAV */

.nav{
display:flex;
gap:25px;
}

.nav a{
text-decoration:none;
color:#333;
font-weight:500;
transition:0.2s;
}

.nav a:hover{
color:#00b894;
}

/* LOGIN */

.login{
background:#00b894;
color:white;
padding:8px 16px;
border-radius:6px;
text-decoration:none;
font-weight:500;
}

/* CONTENEDOR PRINCIPAL */

.contenedor-pagina{
max-width:1600px;
margin:auto;
}

/* SECCION BOLETOS */

.boletos{
padding:50px 0;
}

/* MAPA ESTADIO */

.mapa-estadio{
flex:3;
}

/* CONTENEDOR MAPA */

.mapa{
position:relative;
width:60%;
aspect-ratio:16/10;
margin-left:auto;
margin-right:auto;
border-radius:14px;
overflow:hidden;
}

/* MAPA BASE */

.estadio-base{
width:100%;
height:100%;
object-fit:contain;
display:block;
}

/* ZONAS */

.zona{
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
cursor:pointer;
transition:0.25s;
}

.zona img{
width:100%;
height:100%;
object-fit:contain;
pointer-events:none;
}

/* HOVER */

.zona:hover{
transform:scale(1.03);
filter:brightness(1.2);
}

/* POSICIONES VERDE */

.zona-e1{
top:1%;
left:37.3%;
width:24.8%;
height:24.8%;
}

.zona-e2{
top:8.8%;
left:60%;
width:22%;
height:22%;
}

.zona-e3{
top:26.3%;
left:55.3%;
width:47%;
height:47%;
}

.zona-e4{
top:69.2%;
left:60%;
width:22%;
height:22%;
}

.zona-e5{
top:74.2%;
left:37.3%;
width:24.8%;
height:24.8%;
}

.zona-e6{
top:69.2%;
left:17.5%;
width:22%;
height:22%;
}

.zona-e7{
top:26.3%;
left:-2.8%;
width:47%;
height:47%;
}

.zona-e8{
top:8.8%;
left:17.5%;
width:22%;
height:22%;
}

/* POSICIONES AMARILLA */

.zona-f1{
top:22.8%;
left:56.9%;
width:9.7%;
height:9.7%;
}

.zona-f2{
top:25.5%;
left:59.7%;
width:18%;
height:18%;
}

.zona-f3{
top:57.7%;
left:59.2%;
width:18%;
height:18%;
}

.zona-f4{
top:68.2%;
left:56.9%;
width:9.7%;
height:9.7%;
}

.zona-f5{
top:68.2%;
left:33%;
width:9.7%;
height:9.7%;
}

.zona-f6{
top:57.7%;
left:22.1%;
width:18%;
height:18%;
}

.zona-f7{
top:25.5%;
left:22.1%;
width:18%;
height:18%;
}

.zona-f8{
top:22.8%;
left:33.2%;
width:9.7%;
height:9.7%;
}

/* POSICIONES AMARILLA */

.zona-g1{
top:21%;
left:43.5%;
width:13%;
height:13%;
}

.zona-g2{
top:45%;
left:63.7%;
width:12%;
height:12%;
}

.zona-g3{
top:66.6%;
left:43.5%;
width:13%;
height:13%;
}

.zona-g4{
top:45%;
left:23.7%;
width:12%;
height:12%;
}

/* FOOTER */

footer{
text-align:center;
padding:25px;
background:white;
border-top:1px solid #eee;
margin-top:60px;
border-radius:12px;
}

/* INFORMACION DEL PARTIDO */

.info-partido{
max-width:1200px;
margin:40px auto 20px auto;
padding:25px 30px;
background:white;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.info-partido h1{
margin:0 0 10px 0;
font-size:28px;
}

.estadio{
color:#00b894;
font-weight:600;
margin-bottom:6px;
}

.fecha{
color:#666;
}